// C++ Compiler Command Driver
// Copyright (c) 2020-2025 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2020-2025 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/CPPCompilerCommandDriver/Library.rh>
#include <XYO/CPPCompilerCommandDriver/Copyright.rh>
#include <XYO/CPPCompilerCommandDriver/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_CPPCOMPILERCOMMANDDRIVER,"xyo-cc.dll","C++ Compiler Command Driver")
